<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div ng-app="app" ng-controller="mainController">
        <ol><strong>To Buy</strong><br><br>
            <li ng-repeat="data in tobuy">Buy {{ data.quantity}}  {{data.name}}  <button ng-click="bought($index)">Bought</button><br><br></li>
            <p ng-hide="hide">{{Allbought}}</p>
        </ol>
        <div>
            <ol><strong>Already Bought</strong><br><br>
                <li ng-repeat="data in alreadyBought">Bought {{ data.quantity}}  {{data.name}}</li>
                <p ng-show="show">{{msg}}</p>
            </ol>
        </div>
    </div>
    <script src="https://code.angularjs.org/snapshot/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="main.controller.js"></script>
</body>
</html>